---
services:
  opentakserver:
    image: opentakserver:latest
    build:
      context: .
      args:
        - BUILD_VERSION=${BUILD_VERSION}
      tags:
        - opentakserver:${BUILD_VERSION}
        - opentakserver:latest
    environment:
      - DOCKER_DEBUG=True
    container_name: opentakserver
